section.hobbies{
    /* border: solid red 3px; */
    width: 80%;
}
.hobbies__title{
    /* border: solid rgb(26, 255, 0) 3px;   */
    margin: 0 auto; 
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
}
.hobbies__line{
    width: 100%;
    /* border: solid rgb(0, 128, 255) 3px;    */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.hobbies__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid rgb(230, 0, 255) 3px;  */
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

/* PARTE RESPONSIVE***************************************************************************** */

@media only screen and (max-width:1175px) {

    .hobbies__box{
        width: 126px;
        height: 124px;
        background: #FFFFFF;
    }
}

/* PARTE RESPONSIVE***************************************************************************** */

@media only screen and (max-width:1000px) {

    .hobbies__box{
        width: 106px;
        height: 104px;
        background: #FFFFFF;
    }
}

/* PARTE RESPONSIVE***************************************************************************** */
@media only screen and (max-width:875px) {

    .hobbies__title{
        font-size: 25px;
    }
    .hobbies__box{
        width: 96px;
        height: 94px;
        background: #FFFFFF;
    }
}


/* PARTE RESPONSIVE***************************************************************************** */

@media only screen and (max-width:780px) {

    .hobbies__title{
        margin-bottom: 19px;
        font-size: 22px;
    }
    .hobbies__line{
        flex-wrap: wrap;
    }
    .hobbies__box{
        width: 106px;
        height: 64px;
        background: #FFFFFF;
        margin-bottom: 20px;
       
    }
    .hobbies__img--hockey{
        width: 35px;
    }
    .hobbies__img--guitarra{
        width: 33px;
    }
    .hobbies__img--musica{
        width: 35px;
    }
    .hobbies__img--series{
        width: 30px;
    }
    .hobbies__img--cocinar{
        width: 30px;
    }
    .hobbies__img--fotos{
        width: 30px;
    }

    .hobbies__name{
        font-size: 13px;
    }
}